/node_modules
/public/hot
/public/storage
/public/themes
/storage/*.key
/storage/app/*
/storage/framework/cache/*
/vendor
.vscode
.idea
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer-setup.php
.DS_Store
*.map
style.css.map
style_neha.css.map

/account/assets/admin/push_config.json

# Image and Upload Directories - Main Script
/storage/app/banner/
/storage/app/brand/
/storage/app/category/
/storage/app/company/
/storage/app/deal/
/storage/app/icon/
/storage/app/logo/
/storage/app/png/
/storage/app/product/
/storage/app/profile/
/public/uploads/
/public/assets/*/img/*
/public/assets/*/images/*
/public/images/

# Image and Upload Directories - Account Folder
/account/assets/images/extensions/*
/account/assets/images/firebase/*
/account/assets/images/frontend/*
/account/assets/images/gateway/*
/account/assets/images/language/*
/account/assets/images/logoIcon/*
/account/assets/images/maintenance/*
/account/assets/images/seo/*
/account/assets/images/user/*
/account/assets/images/withdraw_method/*
/account/assets/admin/images/*
